:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 320px) {
    .outer-card {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding-top: 90px;
        padding-left: 6px;
    }

    .inner-card {
        background-color: #FFFFFF;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .inner-card img {
        width: 300px;
        height: 220px;
        padding-top: 5px;
    }

    .info-container h3 {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        padding-left: 6px;
        padding-top: 15px;
        font-weight: 400;
        color: var(--Dark-grayish-blue);
    }

    .info-container h1 {
        font-size: 23px;
        padding-top: 8px;
        padding-left: 6px;
        font-weight: 700;
    }

    .info-container p {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        padding-left: 6px;
        padding-top: 15px;
        padding-bottom: 10px;
        font-weight: 400;
        color: var(--Dark-grayish-blue);
    }

    .prices {
        display: flex;
    }

    .prices h1 {
        color: var(--Dark-cyan);
        font-size: 25px;
        padding-top: 10px;
    }

    .prices p {
        color: var(--Dark-grayish-blue);
        font-size: small;
        text-decoration: line-through;
        padding-left: 12px;
    }

    .button-container {
        padding-top: 10px;
    }

    button {
        background-color: var(--Dark-cyan);
        color: var(--White);
        font-size: 15px;
        padding-top: 5px;
        width: 250px;
        height: 50px;
    }

    .attribution {
        padding-top: 15px;
        width: 290px;
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}